<%= form_with model: @caption, local: true do |form| %> 
  <% if @caption.errors.any? %>
    <h2>
        <%= pluralize(@caption.errors.count, "error") %> prohibited this from being saved.
    </h2>
    <ul>
        <% caption.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>
  <div class = "form-group">
    <%= form.label :ImageURL, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= form.text_field :imgurl, class: "form-control" %>
    </div>
    <%= form.label :captioner, class: "col-md-4 control-label" %><br>
    <div class="col-md-8">  
      <%= form.text_field :captioner, class: "form-control" %>
    </div>
    <%= form.label :caption, class: "col-md-4 control-label" %><br>
    <div class="col-md-8">    
      <%= form.text_area :caption, class: "form-control", maxlength:128 %>
    </div>
    <br>
    <div class="col-md-8">
      <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
    </div>
  </div>
<% end %>