<h1>Captions</h1>

<ul>
    <% @captions.each do |caption| %>
    <li>
        <strong>
        <img 
            src="<%= caption.imgurl %>" 
            alt="hotlink is unavailable" 
            height="100"
            width="100"
            onerror="this.src = `https://picsum.photos/g/200/300`">
        <!--<%= link_to(caption.imgurl, caption_path(caption)) %>-->
        <h4><%= caption.captioner %></h1>
        </strong>
        <p><%= caption.caption %></p>  
        <p>Total Votes: <%= caption.votes %></p>
        <%= link_to 'upvote', increment_vote_caption_path(caption) %>
        <button type="button">v</button>  
    </li>
    <% end %>
<ul>
